.video-block {
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#000, .5);
    z-index: 1;
    transition: var(--tr-main);
  }
  &.hide-bg{
    &::before{
      background-color: rgba(#000, 0);
      z-index: -1;
    }
  }
  &__content {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }

  &__play {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: var(--primary);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr-main);
    opacity: 1;
    &.hide-btn{
      opacity: 0;
      visibility: hidden;
    }
    svg {
      width: 26px;
      height: 26px;
      fill: var(--white);
    }
  }
}