.breadcrumbs{
  margin: 0 0 40px;
  &__link{
    color: var(--gray-600);
    font: 400 14px/21px var(--font);
    &::first-letter{
      text-transform: uppercase;
    }
    &:not(:last-child){
      display: flex;
      align-content: center;
      gap: 8px;
      margin-right: 8px;
      color: var(--gray-800);
      &::after{
        content: '/';
        color: var(--gray-600);
      }
      
    }
    &:last-child{
      pointer-events: none;
    }
  }
  &__text{
    &::first-letter{
      text-transform: uppercase;
    }
  }
}