.btn{
  padding: 15px 40px;
  font: 700 16px/20px var(--font);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  &--stroke{
    border: 1px solid transparent;
    &-white{
      border-color: var(--white);
      color: var(--white);
      
      
    }
    &-primary{
      border-color: var(--primary);
      color: var(--primary);
    }
    &:hover{
      background-color: rgba($color: #000000, $alpha: .5);
    }
  }
  &--fill{
    &-primary{
      background-color: var(--primary);
      color: var(--white);
      border: 1px solid var(--primary);
      &:hover{
        background-color: var(--gray-800);
        border: 1px solid var(--gray-800);
      }
    }
  }
}