.clients{
  padding-top: 80px;
  background-color: var(--gray-200);
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 60px;
    background-color: var(--white);
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 0;
  }
}
.clients-partners{
  padding-bottom: 85px;
  &__items{
    gap: 30px 100px;
  }
  &__logo{
    width: fit-content;
  }
}
.clients-reviews{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  &__content{
    max-width: 600px;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__decor{
    position: relative;
    z-index: 1;
  }
}
.clients-reviews__slide{
  &-box{
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 24px;
  }
  &-content{
    font: 400 16px/25px var(--font);
    color: var(--gray-800);
    margin-bottom: 24px;
  }
  &-name{
    font:700 16px/25px var(--font);
    color: var(--gray-900);
    margin-bottom: 4px;
  }
  &-prof{
    font: 400 14px/20px var(--font);
    color: var(--gray-700);
  }
  &-navigation{
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}