.facts {
  position: relative;
  &::before{
    content: '';
    width: 555px;
    height: 555px;
    position: absolute;
    top: -60px;
    left: 0;
    background-image: url('@img/pageMain/decor.png');
    @extend %bg-cover
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
}

.facts-item {
  &__circle {
    justify-items: center;
    margin-bottom: 20px;

    &-icon {
      width: 160px;
      height: 160px;

      &--orange {
        color: #F89828;
      }

      &--pink {
        color: #F52F6E;
      }
      &--blue{
        color: #5A87FC;
      }
      &--carib-green{
        color: #03CEA4;
      }
      .circle-bg {
        fill: none;
        stroke-width: 6px;
        stroke: currentColor;
        stroke-opacity: 0.3;
      }

      .progress-circle {
        fill: none;
        stroke-width: 6px;
        stroke: currentColor;
        transform: rotate(-90deg) translateX(-100%);

        &--main {
          --lenght-circle: calc(2*3.14*74);
          stroke-dasharray: calc(var(--lenght-circle));
          stroke-dashoffset: calc(var(--lenght-circle) - (var(--lenght-circle)*0.3/100));
        }

      }
    }

    &-value {
      font: 700 32px/48px var(--font);
      color: var(--gray-900);
    }
  }

  &__text {
    font: 400 14px/16px var(--font);
    color: var(--gray-900);
    text-align: center;
  }
}