.footer {
  background-color: var(--gray-900);
  padding: 80px 0;
  &__top{
    margin-bottom: 49px;
  }
  &__nav{
    gap: 20px 131px;
  }
  &__middle{
    gap: 20px 130px;
    &-title{
      font:700 16px/24px var(--font);
      color: var(--white);
      letter-spacing: 1px;
      text-transform: uppercase;
      margin:0 0 13px;
      letter-spacing: 1px;
    }
  }
}

.footer-content {
  max-width: 490px;

  &__top {
    gap: 20px 60px;
    margin-bottom: 24px;

  }

  &__logo {
    width: 140px;
  }

  &__social {
    color: var(--white);
    gap: 16px;

    .social-icon {
      fill: currentColor;
      fill-opacity: 0.6;
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    font: 400 14px/21px var(--font);
    color: rgba($color: #ffffff, $alpha: 0.6)
  }
}

.footer-connection {
  max-width: 490px;

  &__title {
    font: 700 24px/36px var(--font);
    color: var(--white);
    margin:0 0 26px;
  }

  &__form {
    display: flex;
    align-items: stretch;
    margin: 0 0 16px;
    overflow: hidden;
  }

  &__input {
    background: rgba(255, 255, 255, 0.12);
    border: none;
    border-radius: 4px 0px 0px 4px;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
  }

  &__btn {
    border-radius: 0px 4px 4px 0px;
    transition: var(--tr-main);
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 0.5px;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-left-color: transparent;
    }
  }

  &__info {
    font: 400 12px/18px var(--font);
    color: rgba($color: #ffffff, $alpha: 0.6);

  }
}
.contact-list{
  &__title{
    color: var(--white);
    font: 400 16px/25px var(--font);
    margin: 0 4px 0 0;
  }
}
.footer-list{
  padding: 0;
  &__item{
    &:not(:last-child){
      margin-bottom: 4px;
    }
  }
  &__link{
    font: 400 16px/25px var(--font);
    color: rgba($color: #ffffff, $alpha: 0.6)
  }
}
.footer__copy{
  &-text{
    font:400 12px/16px var(--font);
    color: var(--white);
    margin: 0;
  }
  &-icon{
    display: inline-block;
    transform: translateY(3px);
    svg{
      width: 16px;
      height: 16px;
      fill: var(--primary);
      display: block;
    }
  }
}