.form{
  &__label{
    margin: 0 0 20px;
    display: block;
    cursor: pointer;
    &-text {
      font: 400 14px/18px var(--font);
      color: var(--gray-800);
      margin-bottom: 11px;
      display: block;
    }
    &.label-agreement{
      display: flex;
      gap: 12px;
      margin-bottom: 24px;
      
      .custom-checkbox{
        display: block;
        .form__checkbox:checked ~ .custom-checkbox__wrapper{
          background-color: var(--primary);
          background-image: url("@img/icons/checkbox-check.svg");
          @extend %bg-contain;
          background-size: 10px 8px;
          border-color: transparent;
        }
        &__wrapper{
          width: 16px;
          height: 16px;
          border: 1px solid var(--gray-900);
          border-radius: 3px;
          display: block;
          transform: translateY(5px);
        }
      }
      .label-agreement__text{
        display: block;
        font: 400 14px/21px var(--font);
        color: var(--gray-800);
      }
    }
  }
	&__input{
		background-color: var(--gray-200);
    border-radius: 4px;
    border: 1px solid #D7DADD;
    padding: 11px 16px 12px;
    height: 44px;
    display: block;
    width: 100%;
    &::placeholder{
      font: 400 14px/16px var(--font);
      color: var(--gray-600);
    }
	}
  &__textarea {
    padding: 11px 16px 12px;
    background-color: var(--gray-200);
    border-radius: 4px;
    border: 1px solid #D7DADD;
    resize: none;
    display: block;
    width: 100%;
    &::placeholder{
      font: 400 14px/16px var(--font);
      color: var(--gray-600);
    }
  }
  
}