.header{
  &--main{
    background-color: var(--white);
  }
  &--secondary{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  padding: 22px 0;
  &__container{
    display: flex;
    align-items: center;
    gap:0 60px;
  }
  &-list{
    gap:0 40px;
    margin:0;
    padding: 0;
    &__link{
      transition: all .3s ease-in-out;
      font: 700 16px/25px var(--font);
      color: var(--gray-800);
      &:hover{
        color: var(--primary);
      }
      &.active{
        color: var(--primary)
      }
    }

  }
  &-contacts{
    margin-left: auto;
    gap: 0 40px;
    &__item{
      gap: 0 10px;
    }
    &__info{
      &-text{
        font:700 14px/21px var(--font);
        color: var(--gray-800);
        margin:0;
      }
      &-link{
        color: var(--gray-900);
        transition: all .3s ease-in-out;
        &:hover{
          color: var(--primary);
        }
        
      }
    }
  }
}