.hero{
  background-color: var(--gray-900);
  padding-top: 220px;
  min-height: 988px;
  position: relative;
  z-index: 1;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000000, .6);
    z-index: -1;
  }
  &--main{
    background-image: url('@img/hero-bg--main.jpg');
    @extend %bg-cover;
  }
  &__info{
    max-width: 580px;
  }
  &-title{
    font:700 72px/90px var(--font);
    color:var(--gray-900);
    margin: 0 0 24px;
    &.hero-title--main{
      color: var(--white);
    }
  }
  &-descr{
    color:var(--gray-700);
    font:400 20px/30px var(--font);
    margin:0;
    &--main{
      color:var(--white);
      margin-bottom: 60px;
    }
  }
}
.hero-btns{
  gap:0 24px;
}