.know-form {
  max-width: 1230px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  padding: 60px 48px;
  position: relative;
  z-index: 2;
  background-color: #fff;

  &__content {
    gap: 24px;
    align-items: flex-end;
  }
  &__title{
    margin: 0 0 32px;
  }
  &__label {
    &.form__label{
      margin: 0;
    }
    
    &--big {
      flex: 1;
    }
  }

  

  &__input {
    width: 260px;
  }

  &__textarea {
    height: 44px;
  }

  &__btn {
    padding: 11px 16px 12px;
    height: 44px;
  }
}