.mission {
  padding-bottom: 0px;
  
  &__items {
    
    gap: 30px calc(var(--mission-gap) * 2);
  }

  &__item {
    max-width: 285px;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: calc(-1 * var(--mission-gap));
        width: 1px;
        height: 100%;
        background: linear-gradient(180deg, rgba(218,219,221,0) 0%, rgba(218,219,221,1) 25%, rgba(218,219,221,1) 75%, rgba(218,219,221,0) 100%);
      }
    }

    svg {
      width: 48px;
      height: 48px;
      fill: var(--primary);
      margin: 0 auto 24px;
      display: block;
    }

    &-title {
      font: 700 20px/30px var(--font);
      color: var(--gray-900);
      margin-bottom: 8px;
    }

    &-text {
      font: 400 16px/25px var(--font);
      color: var(--gray-700);
    }
  }
}
@media (max-width: 1100px) {
  :root{
    --mission-gap: 30px;
  }
}
@media (max-width:768px) {
  .mission{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      max-width: 100%;
      &:not(:last-child){
        &::after{
          display: none;
        }
      }
    }
  }
}