.news-section{
  &__title{
    margin-bottom: 60px;
    
  }
  &__grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: 30px;
    margin-bottom: 80px;
  }
}
.news-item{
  background-color: var(--white);
  box-shadow: var(--shadow-middle);
  transition: var(--tr-main);
  &--big{
    grid-column: 7 span;
    grid-row: 2 span;
    .news-item__info{
      padding: 25px;
      .news-item__content{
        visibility: visible;
        opacity: 1;
        display: block;
        font: 400 16px/25px var(--font);
        color: var(--gray-800)
      }
    }
  }
  &--topRight{
    grid-column: 5 span;

  }
  &--bottomRight{
    grid-column: 5 span;
  }
  &__title{
    font: 700 20px/30px var(--font);
    color: var(--gray-900);
    margin:0 0 12px;
    transition: var(--tr-main);
    &:hover{
      color: var(--primary)
    }
  }

  &__info{
    padding: 16px 24px 24px;
  }
  &__action{
    display: flex;
    align-items: center;
    gap: 0 24px;
    // margin: 0 0 16px;
    &-text{
      font:400 14px/16px var(--font);
      color:var(--gray-700);
      margin: 0;
    }
  }
  &__content{
    visibility: hidden;
    opacity: 0;
    display: none;
    margin:16px 0 0;
  }
}