.page-hero{
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__container{
    width: 100%;
  }
  
  &__title{
    font:700 72px/90px var(--font);
    color: var(--gray-900);
    margin: 0 0 24px;
  }
  &__content{
    max-width: 600px;
    margin: 0;
    font:400 20px/30px var(--font);
    color: var(--gray-700);
  }

  &--services{
    background-image: url('@img/pageServices/services-bg.jpg');
    @extend %bg-cover;
  }
  &--about{
    background-image: url('@img/pageAbout/about-bg.jpg');
    @extend %bg-cover;
  }
  &--desing{
    background-image: url('@img/pageDesing/desing-bg.jpg');
    @extend %bg-cover;
  }
}