.portfolio {
  position: relative;
  // &__container{
  //   overflow: hidden;
  // }
  &__title {
    max-width: 705px;
    margin:0;
  }
  &__top{
    align-items: flex-end;
    margin-bottom: 60px;
  }
  &__cross{
    margin-top: -50px;
    z-index: 2;
    position: relative
  }
}

.portfolio-slider {
  padding: 0  0px 150px;
}

// .portfolio-slide {
  
// }