.section-form{
  padding: 80px;
  background-image: url("@img/bg-form.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &__title{
    margin: 0 0 24px;
  }
  &__inner{
    max-width: 495px;
    margin: 0 0 0 auto;
    background-color: var(--white);
    padding: 48px 40px;
  }
  &__textarea{
    height: 66px;
  }
}