.services-section{
  background-color: #F4F5F7;
  padding-top: 100px;
  padding-bottom: 80px;
  position: relative;
  background-image: url('@img/services-section-bg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 0;
    z-index: -1;
    background-color: inherit;
    background-image: url('@img/services-section-bg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  }
  &__items{
    gap: 30px; //calc((100% - (285px*4)) / 4 )
    margin: 0 0 80px;
  }
  &__item{
    border: 1px solid #E5E8ED;
    border-radius: 5px;
    box-shadow: var(--shadow-light);
    width: 285px;
    height: 285px;
    overflow: hidden;
    @extend %bg-cover;
    position: relative;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.6);
      z-index: -1;
      border-radius: 4px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255);
      z-index: -1;
      opacity: 1;
      transition:var(--tr-main);
    }
    &:hover{
      &::after{
        opacity: 0;
      }
      .services-section__text{
        color: var(--white);
      }
      svg{
        fill: var(--white);
      }
    }
    svg{
      width: 52px;
      height: 52px;
      fill: var(--primary);
      display: block;
      margin:0 auto 24px;
      transition:var(--tr-main);
    }
  }
  &__text{
    font:700 20px/30px var(--font);
    color: var(--gray-900);
    text-align: center;
    margin: 0;
    transition:var(--tr-main);
  }
}
.item{
  &-construction{
    background-image: url('@img/pageMain/preview-construction.jpg');
  }
  &-project{
    background-image: url('@img/pageMain/preview-project.jpg');
  }
  &-desing{
    background-image: url('@img/pageMain/preview-desing.jpg');
  }
  &-repairs{
    background-image: url('@img/pageMain/preview-repairs.jpg');
  }
}