// slider-project
.slide-project{
  box-shadow: var(--shadow-light);
  display: grid;
  align-items: end;
  // max-width: 440px;
  transform: scale(0.95);
  transition: var(--tr-main);
  // visibility: hidden;
  // opacity: 0;
  &:hover{
    .slide-project__btn{
      margin-bottom: 0;
    transform: translateY(0%);
    }
  }
  &.swiper-slide-active {
    box-shadow: var(--shadow-middle);
    transform: scale(1);
  }
  &__box{
    grid-area: 1/1;
    padding-bottom: 90px;
  }
  &__content {
    padding: 16px 20px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 1/1;
    background-color: var(--white);
    height: fit-content;
    overflow: hidden;
  }

  &__title {
    margin: 0 0 4px;
    font: 700 20px/30px var(--font);
    color: var(--gray-900);
  }

  &__text {
    font: 400 14px/18px var(--font);
    color: var(--gray-700);
    margin: 0;
  }
  &__btn{
    margin-top: 24px;
    margin-bottom: -80px;
    transform: translateY(150%);
    transition: var(--tr-main);
  }
  &__navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  // &__visible{
  //   visibility: visible;
  //   opacity: 1;
  // }
}
// .swiper-slide-next, .swiper-slide-prev, .swiper-slide-active {
//   visibility: visible;
//     opacity: 1;
// }
.slide-nav-btn {

  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--gray-800);
  transition: var(--tr-main);
  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }
  &__icon{
    color: inherit;
    fill: currentColor;
    width:24px;
    height: 24px;
  }
}