.up-scroll{
  position: fixed;
  bottom: 80px;
  right: calc((100% - 1240px) / 2);
  gap: 10px;
  z-index: 100;
  align-items: flex-end;
  max-width: inherit;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: var(--tr-main);
  &.visible{
    pointer-events: all;
    opacity: 1;
    visibility: visible;
 
  }
  &__text{
    font: 400 14px/ 21px var(--font);
    color: var(--white);
    margin: 0;
    pointer-events: none;
  }
  &__btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--white);
    svg{
      fill: currentColor;
      width: 16px;
      height: 9px;
      pointer-events: none;
    }
  }
}
@media all and (max-width: 1920px) {
  .up-scroll{
    right: 15px;
  }
}