.offer{
  &__container{
    gap: 30px 105px;

  }
  &-preview{
    border-radius: 4px;
    overflow: hidden;
    max-width: 705px;
    width: 100%;
  }
  &__title{
    font:900 46px/60px var(--font);
    color: var(--gray-900);
    margin: 0 0 60px;
  }
}
.offer-item{
  padding-left: 44px;
  max-width: 420px;
  position: relative;
  &__flag{
    position: absolute;
    top:10px;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
  }
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--primary);
    border-radius: 2px;
    transition: var(--tr-main);
  }
  }
  
  &:not(:last-child){
    margin-bottom: 24px;
  }
  &__btn{
    font:700 28px/42px var(--font);
    color: var(--gray-900);
    margin: 0;
    text-align: left;
    margin-bottom: 12px;
  }
  &__text{
    margin: 0;
    font:400 16px/25px var(--font);
    color: var(--gray-700);
    max-height: 0;
		opacity: 0;
		will-change: max-height;
    pointer-events: none;
    transition: var(--tr-main);
  }
  &.open{
    .offer-item__text{
      opacity: 1;
      pointer-events: all;
    }
    .offer-item__flag{
      &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) rotate(90deg);
        opacity: 0;
        width: 2px;
        height: 100%;
        background-color: var(--primary);
        border-radius: 2px;
        transition: var(--tr-main);
      }
    }
  }
}