html{
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

img {
	width: 100%;
	height: auto;
	display: block;
}
body {
	background-color: #ffffff;
	font: 400 20px / 24px var(--font);
	color: var(--gray-800);
	margin:0;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
	display: block;
}
.scroll-smooth{
	scroll-behavior: smooth;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.wrapper{
	margin: 0 auto;
	max-width: 1920px;
	position: relative;
}
.container{
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}
.accent{
	color: var(--primary);
}
.section-offset{
	padding: 60px 0 120px;
}
.title{
	margin: 0 0 24px;
	font:700 46px/60px var(--font);
	color: var(--gray-900);
	&--middle{
		font: 700 28px/30px var(--font);
		color:var(--gray-900);
	}
}
.subtitle{
	font:400 18px/22px var(--font);
	color: var(--gray-700);
	margin:0 0 60px;
}
.section-cross{
    &__title{
      margin: 0 40px 0 0;
    }
}

