<section class="section-offset offer">
  <div class="container df offer__container">
    <div class="offer-preview">
      <img data-src="@img/pageDesing/offer-preview.jpg" alt="Offer preview" class="offer-preview__img lazy">
    </div>
    <div class="offer__content">
      <h3 class="offer__title">We offer</h3>
      <div class="offer-item ">
        <span class="offer-item__flag"></span>
        <button class="btn-reset offer-item__btn">
          Interior design of apartments
        </button>
        <p class="offer-item__text">
          Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
        </p>
      </div>
      <div class="offer-item">
        <span class="offer-item__flag"></span>
        <button class="btn-reset offer-item__btn">
          Interior design of private houses
        </button>
        <p class="offer-item__text">
          Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
        </p>
      </div>
    </div>
  </div>
</section>