<section class="page-services__items section-offset">
  <h2 class="visually-hidden tac">Services</h2>
  <div class="container">
    <div class="page-services__item">
      <img data-src="@img/pageServices/construction-preview.jpg" alt="" class="page-services__preview lazy">
      <div class="page-services__content">
        <h3 class="page-services__title">
          Construction
        </h3>
        <p class="page-services__text">
          Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere massa ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.
        </p>
        <a href="./construction.html" class="page-services__link btn btn--stroke btn--stroke-primary">Learn more</a>
      </div>
    </div>
    <div class="page-services__item">
      <img data-src="@img/pageServices/developer-preview.jpg" alt="" class="page-services__preview lazy">
      <div class="page-services__content">
        <h3 class="page-services__title">
          Project Development
        </h3>
        <p class="page-services__text">
          Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
        </p>
        <a href="./development.html" class="page-services__link btn btn--stroke btn--stroke-primary">Learn more</a>
      </div>
    </div>
    <div class="page-services__item">
      <img data-src="@img/pageServices/diseng-preview.jpg" alt="" class="page-services__preview lazy">
      <div class="page-services__content">
        <h3 class="page-services__title">
          Interior Design
        </h3>
        <p class="page-services__text">
          Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
        </p>
        <a href="./desing.html" class="page-services__link btn btn--stroke btn--stroke-primary">Learn more</a>
      </div>
    </div>
    <div class="page-services__item">
      <img data-src="@img/pageServices/repairs-preview.jpg" alt="" class="page-services__preview lazy">
      <div class="page-services__content">
        <h3 class="page-services__title">
          Repairs
        </h3>
        <p class="page-services__text">
          Facilisis cursus feugiat sit pulvinar amet. Ac&nbsp;facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id&nbsp;egestas mattis. Turpis viverra nec urna ultrices urna.
        </p>
        <a href="./repairs.html" class="page-services__link btn btn--stroke btn--stroke-primary">Learn more</a>
      </div>
    </div>
  </div>
</section>