<section class="about-section section-offset">
  <div class="container">
    <h2 class="title tac">
      We are Createx Construction Bureau
    </h2>
    <p class="subtitle tac">
      We are rightfully considered to be the best construction company in the USA.
    </p>
    <div class="video-block">
      <button class="btn-reset video-block__play " aria-label="Play video">
        <svg>
          <use xlink:href='./images/sprite.svg#icons--play'>
          </use>
        </svg>
      </button>
      <video data-src="./assets/video-about.mp4" class="video-block__content lazy" muted loop preload="metadata"></video>
    </div>
  </div>
</section>