<div class="breadcrumbs df al-c">
  @@for (let i = 0; i < breadcrumbsArr.length; i++){
    <a href=`+breadcrumbsArr[i].href+` class="breadcrumbs__link">
      <span class="breadcrumbs__text">
        `+breadcrumbsArr[i].text+`
      </span>
    </a>
  }
</div>