<section class="clients">
  <div class="container clients__container">
    <div class="clients-partners">
      <h2 class="title tac">
        Supported by 12+ partners
      </h2>
      <div class="clients-partners__items df al-s ju-c wrap">
        <img data-src="@img/pageMain/partners/client-logo-1.png" alt="" class="clients-partners__logo lazy">
        <img data-src="@img/pageMain/partners/client-logo-2.png" alt="" class="clients-partners__logo lazy">
        <img data-src="@img/pageMain/partners/client-logo-3.png" alt="" class="clients-partners__logo lazy">
        <img data-src="@img/pageMain/partners/client-logo-4.png" alt="" class="clients-partners__logo lazy">
        <img data-src="@img/pageMain/partners/client-logo-5.png" alt="" class="clients-partners__logo lazy">
        <img data-src="@img/pageMain/partners/client-logo-6.png" alt="" class="clients-partners__logo lazy">
      </div>
    </div>
    <div class="clients-reviews">
      <div class="clients-reviews__content">
        <h2 class="title clients-reviews__title">What our clients are saying</h2>
        <div class="swiper clients-reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide clients-reviews__slide">
              <div class="clients-reviews__slide-box">
                <img src="@img/pageMain/users/avatar.png" alt="" class="clients-reviews__slide-avatar">
              </div>
              <p class="clients-reviews__slide-content">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. 
              </p>
              <p class="clients-reviews__slide-name">
                Shawn Edwards
              </p>
              <p class="clients-reviews__slide-prof">
                Position, Company name
              </p>
            </div>
            <div class="swiper-slide clients-reviews__slide">
              <div class="clients-reviews__slide-box">
                <img src="@img/pageMain/users/avatar.png" alt="" class="clients-reviews__slide-avatar">
              </div>
              <p class="clients-reviews__slide-content">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. 
              </p>
              <p class="clients-reviews__slide-name">
                Shawn Edwards
              </p>
              <p class="clients-reviews__slide-prof">
                Position, Company name
              </p>
            </div>
            <div class="swiper-slide clients-reviews__slide">
              <div class="clients-reviews__slide-box">
                <img src="@img/pageMain/users/avatar.png" alt="" class="clients-reviews__slide-avatar">
              </div>
              <p class="clients-reviews__slide-content">
                Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. 
              </p>
              <p class="clients-reviews__slide-name">
                Shawn Edwards
              </p>
              <p class="clients-reviews__slide-prof">
                Position, Company name
              </p>
            </div>
          </div>
          <div class="clients-reviews__slide-navigation">
            <div class="clients-reviews__slide-prev slide-nav-btn">
              <svg class="slide-nav-btn__icon">
                <use xlink:href='./images/sprite.svg#icons--prev-btn'>
                </use>
              </svg>
            </div>
            <div class="clients-reviews__slide-next slide-nav-btn">
              <svg class="slide-nav-btn__icon">
                <use xlink:href='./images/sprite.svg#icons--next-btn'>
                </use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="clients-reviews__decor">
        <img data-src="@img/pageMain/clients-reviews-bg.jpg" alt="" class="clients-reviews__decor-img lazy">
      </div>
    </div>
  </div>
</section>