<section class="facts section-offset">
  <div class="container">
    <h2 class="title tac">
      Some facts and figures
    </h2>
    <div class="facts__items">
      <div class="facts-item">
        <div class="facts-item__circle dg al-c">
          <svg class="facts-item__circle-icon facts-item__circle-icon--orange gr-a" vievBox="0 0 160 160" data-percent-value="true">
            <circle class="circle-bg" r="74" cx="80" cy="80" />
            <circle class="progress-circle" r="74" cx="80" cy="80" data-value="90" data-full="100"/>
          </svg>
          <p class="facts-item__circle-value gr-a ">98%</p>
        </div>
        <p class="facts-item__text">
          Totally satisfied clients
        </p>
      </div>
      <div class="facts-item">
        <div class="facts-item__circle dg al-c">
          <svg class="facts-item__circle-icon facts-item__circle-icon--pink gr-a" vievBox="0 0 160 160" data-percent-value="false">
            <circle class="circle-bg" r="74" cx="80" cy="80" />
            <circle class="progress-circle" r="74" cx="80" cy="80" data-value="40" data-full="50"/>
          </svg>
          <p class="facts-item__circle-value gr-a">20</p>
        </div>
        <p class="facts-item__text">
          Years of experience
        </p>
      </div>
      <div class="facts-item">
        <div class="facts-item__circle dg al-c">
          <svg class="facts-item__circle-icon facts-item__circle-icon--blue gr-a" vievBox="0 0 160 160" data-percent-value="false">
            <circle class="circle-bg" r="74" cx="80" cy="80" />
            <circle class="progress-circle" r="74" cx="80" cy="80" data-value="9452" data-full="11000"/>
          </svg>
          <p class="facts-item__circle-value gr-a ">9452</p>
        </div>
        <p class="facts-item__text">
          Working hours spent
        </p>
      </div>
      <div class="facts-item">
        <div class="facts-item__circle dg al-c">
          <svg class="facts-item__circle-icon facts-item__circle-icon--carib-green gr-a" vievBox="0 0 160 160" data-percent-value="true">
            <circle class="circle-bg" r="74" cx="80" cy="80" />
            <circle class="progress-circle" r="74" cx="80" cy="80" data-value="100" data-full="100"/>
          </svg>
          <p class="facts-item__circle-value gr-a ">100%</p>
        </div>
        <p class="facts-item__text">
          Succeeded projects
        </p>
      </div>
    </div>
  </div>
</section>