<header class="header @@classMain" >
  <div class="container header__container">
    <a href="/" class="header__logo db">
      <img class="header__logo-img " src="@img/icons/logo.svg" alt="Createx logo">
    </a>
    <nav class="header-menu">
      <ul class="header-list df al-c">
        <li class="header-list__item">
          <a href="./about.html" class="header-list__link @@activePageAbout">About Us</a>
        </li>
        <li class="header-list__item">
          <a href="./services.html" class="header-list__link @@activePageServices">Services</a>
        </li>
        <li class="header-list__item">
          <a href="./work.html" class="header-list__link @@activePageWork">Work</a>
        </li>
        <li class="header-list__item">
          <a href="./news.html" class="header-list__link @@activePageNews">News</a>
        </li>
        <li class="header-list__item">
          <a href="./contacts.html" class="header-list__link @@activePageContacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts df al-c">
      <div class="header-contacts__item df al-c">
        <svg class='sprite-phone'>
          <use xlink:href='./images/sprite.svg#icons--phone'>
          </use>
        </svg>
        <div class="header-contacts__info">
          <p class="header-contacts__info-text">
            Call us
          </p>
          <a href="#" class="header-contacts__info-link">(405) 555-0128</a>
        </div>
      </div>
      <div class="header-contacts__item df al-c">
        <svg class='sprite-chat'>
          <use xlink:href='./images/sprite.svg#icons--chat'>
          </use>
        </svg>
        <div class="header-contacts__info">
          <p class="header-contacts__info-text">
            Talk to us
          </p>
          <a href="#" class="header-contacts__info-link">hello@createx.com</a>
        </div>
      </div>
    </div>
  </div>
</header>