<section class="hero hero--main">
  <div class="container">
    <div class="hero__info">
      <h1 class="hero-title hero-title--main">
        CREATE<span class="accent">X</span> CONSTRUCTION
      </h1>
      <p class="hero-descr hero-descr--main">
        Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis. 
      </p>
      <div class="hero-btns df al-c ju-c">
        <a href="./about.html" class="btn-reset btn btn--stroke btn--stroke-white">
          Learn more about us
        </a>
        <a href="#" class="btn-reset btn btn--fill btn--fill-primary">
         Submit request
        </a>
      </div>
    </div>
  </div>
</section>