<section class="mission section-offset">
  <div class="container">
    <h2 class="title tac">
      Our core values
    </h2>
    <p class="subtitle tac">
      Our mission is to set the highest standards for construction sphere.
    </p>
    <div class="mission__items df al-c ju-c">
      <div class="mission__item">
        <svg>
          <use xlink:href='./images/sprite.svg#icons--like'>
          </use>
        </svg>
        <h4 class="mission__item-title tac">
          Quality
        </h4>
        <p class="mission__item-text tac">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </div>
      <div class="mission__item">
        <svg>
          <use xlink:href='./images/sprite.svg#icons--hand'>
          </use>
        </svg>
        <h4 class="mission__item-title tac">
          Safety
        </h4>
        <p class="mission__item-text tac">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </div>
      <div class="mission__item">
        <svg>
          <use xlink:href='./images/sprite.svg#icons--slippers'>
          </use>
        </svg>
        <h4 class="mission__item-title tac">
          Quality
        </h4>
        <p class="mission__item-text tac">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </div>

    </div>
    <form class="know-form mr-a" id="know-form">
      <h4 class="know-form__title tac title--middle">
        Want to know more? Ask us a question:
      </h4>
      <div class="know-form__content df  wrap">
        <label class="know-form__label form__label">
          <span class="know-form__text form__label-text">
            Name
          </span>
          <input type="text" class="know-form__input form__input" placeholder="Your name" name="name">
        </label>
        <label class="know-form__label form__label">
          <span class="know-form__text form__label-text">
            Phone
          </span>
          <input type="tel" class="know-form__input form__input" placeholder="Your phone" name="phone">
        </label>
        <label class="know-form__label form__label know-form__label--big">
          <span class="know-form__text form__label-text">
            Message
          </span>
          <textarea class="know-form__textarea form__textarea" placeholder="Your message" name="message"></textarea>
        </label>
        <button class="btn-reset btn know-form__btn btn--fill-primary">send</button>
      </div>
    </form>
  </div>
</section>