<section class="news-section section-offset">
  <div class="container">
    <h2 class="title tac news-section__title">
      Recent news
    </h2>
    <div class="news-section__grid">
      <div class="news-section__item news-item news-item--big">
        <div class="news-item__box">
          <img data-src="@img/pageMain/news-article/article-image.jpg" alt="" class="news-item__img lazy">
        </div>
        <div class="news-item__info">
          <a href="#" class="news-item__title">
            How to Build Climate Change-Resilient Infrastructure
          </a>
          <div class="news-item__action">
            <a href="./industry-news.html" class="news-item__action-category news-item__action-text">Industry News</a>
            <time class="news-item__action-date news-item__action-text" datetime="2020-06-24">June 24, 2020</time>
            <p class="news-item__action-comment news-item__action-text">4 comments</p>
          </div>
          <p class="news-item__content">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </div>
      <div class="news-section__item news-item news-item--topRight">
        <div class="news-item__box">
          <img data-src="@img/pageMain/news-article/article-image-1.jpg" alt="" class="news-item__img lazy">
        </div>
        <div class="news-item__info">
          <a href="#" class="news-item__title">
            How Construction Can Help Itself
          </a>
          <div class="news-item__action">
            <a href="./inovation.html" class="news-item__action-category news-item__action-text">Innovation</a>
            <time class="news-item__action-date news-item__action-text" datetime="2020-06-12">June 12, 2020</time>
            <p class="news-item__action-comment news-item__action-text">No comments</p>
          </div>
          <p class="news-item__content">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </div>
      <div class="news-section__item news-item news-item--bottomRight">
        <div class="news-item__box">
          <img data-src="@img/pageMain/news-article/article-image-2.jpg" alt="" class="news-item__img lazy">
        </div>
        <div class="news-item__info">
          <a href="#" class="news-item__title">
            Types of Flooring Materials
          </a>
          <div class="news-item__action">
            <a href="./company-news.html" class="news-item__action-category news-item__action-text">Company News</a>
            <time class="news-item__action-date news-item__action-text" dadatetime="2019-01-01"ta>December 1, 2019</time>
            <p class="news-item__action-comment news-item__action-text">No comments</p>
          </div>
          <p class="news-item__content">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </div>
    </div>
    <div class="new-section__cross section-cross df al-c ju-c">
      <h4 class="section-cross__title title--middle fit">
        Explore all our news posts
      </h4>
      <a href="#" class="btn-reset btn btn--fill-primary">View all news</a>
    </div>
  </div>
</section>