<section class="page-hero @@className">
  <div class="container page-hero__container">
    @@if(className === 'page-hero--services'){
      @@include('./breadcrumbs.html', {
        "breadcrumbsArr":[
          {
          "href": "/",
          "text":"homepage"
          },
          {
          "href":"./services.html",
          "text":"services"
          },
        ]
      })
    }

    @@if(className === 'page-hero--about'){
      @@include('./breadcrumbs.html', {
        "breadcrumbsArr":[
          {
          "href": "/",
          "text":"homepage"
          },
          {
          "href":"./about.html",
          "text":"about",
          },
        ],
      })
    }
    @@if(className === 'page-hero--desing'){
      @@include('./breadcrumbs.html', {
        "breadcrumbsArr":[
          {
          "href": "/",
          "text":"homepage"
          },
          {
          "href":"./services.html",
          "text":"services",
          },
          {
            "href":"./desing.html",
            "text":"Interior Design",
            },
        ],
      })
    }
    @@include('./page-hero-title.html', {
    "titleText": "@@titleHeroPage",
    })
    @@include('./page-hero-content.html',{
    "contentText": "@@contentHeroPage",
    })
  </div>
</section>