<section class="portfolio section-offset">
  <div class="container portfolio__container">
    <div class="portfolio__top df ju-b">
      <h2 class="title portfolio__title">
        Browse our selected projects and learn more about our work
      </h2>
      <div class="slide-project__navigation">
        <div class="slide-project-prev portfolio-slide-prev slide-nav-btn">
          <svg class="slide-nav-btn__icon">
            <use xlink:href='./images/sprite.svg#icons--prev-btn'>
            </use>
          </svg>
        </div>
        <div class="slide-project-next portfolio-slide-next slide-nav-btn">
          <svg class="slide-nav-btn__icon">
            <use xlink:href='./images/sprite.svg#icons--next-btn'>
            </use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper portfolio-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-1.jpg" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              Red Finger Building
            </h4>
            <p class="slide-project__text">
              Business Centers
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-2.jpeg" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              Cubes Building
            </h4>
            <p class="slide-project__text">
              Business Centers
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-3.png" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              The Pencil Building
            </h4>
            <p class="slide-project__text">
              Stores & Malls
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-1.jpg" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              Red Finger Building
            </h4>
            <p class="slide-project__text">
              Business Centers
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-2.jpeg" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              Cubes Building
            </h4>
            <p class="slide-project__text">
              Business Centers
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
        <div class="swiper-slide slide-project">
          <div class="slide-project__box">
            <img src="@img/pageMain/portfoilo-item-3.png" alt="" class="slide-project__img">
          </div>

          <div class="slide-project__content">
            <h4 class="slide-project__title">
              The Pencil Building
            </h4>
            <p class="slide-project__text">
              Stores & Malls
            </p>
            <a href="#" class="btn btn--stroke-primary btn--stroke fit slide-project__btn">View Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio__cross section-cross df al-c ju-c">
      <h4 class="section-cross__title title--middle fit">
        Explore all our works
      </h4>
      <a href="./work.html" class="btn-reset btn btn--fill-primary">View portfolio</a>
    </div>
  </div>

</section>