<section class="section-form">
  <h2 class="title visually-hidden">Contacts</h2>
  <div class="container">
    <form class="form section-form__inner">
      <h3 class="title--middle section-form__title">A quick way to discuss details</h3>
      <label class="form__label">
        <span class="form__label-text">Name*</span>
        <input class="form__input" type="text" name="name" placeholder="Your name" required/>
      </label>
      <label class="form__label">
        <span class="form__label-text">Phone*</span>
        <input class="form__input" type="tel" name="name" placeholder="Your phone number" required/>
      </label>
      <label class="form__label">
        <span class="form__label-text">Email</span>
        <input class="form__input" type="email" name="name" placeholder="Your working email"/>
      </label>
      <label class="form__label">
        <span class="form__label-text">Message*</span>
        <textarea class="form__textarea section-form__textarea" name="message" placeholder="Your message" required></textarea>
      </label>
      <label class="form__label label-agreement">
        <span class="custom-checkbox">
          <input class="form__checkbox hide" type="checkbox" required>
          <span class="custom-checkbox__wrapper"></span>
        </span>
        <span class="label-agreement__text">
          I agree to receive communications from Createx Construction Bureau.
        </span>
      </label>
      <button class="btn-reset btn btn--fill-primary mr-a">send request</button>
    </form>
  </div>
</section>