<section class="services-section section-offset">
  <div class="container">
    <h2 class="title tac">
      Our services
    </h2>
    <p class="subtitle tac">
      Createx Construction Bureau is a construction giant with a full range of construction services.
    </p>
    <div class="services-section__items df al-c ju-c wrap">
      <a href="./construction.html" class="services-section__item df al-c ju-c dir-col item-construction">
        <svg aria-hidden="true">
          <use xlink:href='./images/sprite.svg#icons--construction'>
          </use>
        </svg>
        <p class="services-section__text">
          Construction
        </p>
      </a>
      <a href="./development.html" class="services-section__item df al-c ju-c dir-col item-project">
        <svg aria-hidden="true">
          <use xlink:href='./images/sprite.svg#icons--plan'>
          </use>
        </svg>
        <p class="services-section__text">
          Project Development
        </p>
      </a>
      <a href="./desing.html" class="services-section__item df al-c ju-c dir-col item-desing">
        <svg aria-hidden="true">
          <use xlink:href='./images/sprite.svg#icons--pantone'>
          </use>
        </svg>
        <p class="services-section__text">
          Interior Design
        </p>
      </a>
      <a href="./repairs.html" class="services-section__item df al-c ju-c dir-col item-repairs">
        <svg aria-hidden="true">
          <use xlink:href='./images/sprite.svg#icons--painting'>
          </use>
        </svg>
        <p class="services-section__text">
          Repairs
        </p>
      </a>

    </div>

    <div class="services-section__cross section-cross df al-c ju-c">
      <h4 class="section-cross__title title--middle fit">
        Learn more about our services
      </h4>
      <a href="./services.html" class="btn-reset btn btn--fill-primary">View services</a>
    </div>
  </div>
</section>