.page-services{
  &__item{
    display: flex;
    align-items: center;
    gap: 0 80px;
    &:not(:last-child){
      margin-bottom: 120px;
    }
    &:nth-child(even){
      flex-direction: row-reverse;
    }
    
  }
  &__preview{
    max-width: 575px;
    width:100%;
  }
  &__content{
    max-width: 575px;
  }
  &__link{
    width: fit-content;
  }
  &__title{
    font:700 32px/48px var(--font);
    color: var(--gray-900);
    margin: 0 0 24px;
  }
  &__text{
    font:400 16px/25px var(--font);
    color: var(--gray-700);
    margin: 0 0 48px;
  }
}